.modal-add-update-book {
  .title {
    @include font(var(--black-dark-3), 20px);
    margin-bottom: 16px;
  }

  .authors {
    margin-top: 8px;

    .author-item {
      display: flex;
      align-items: center;

      span {
        margin-right: 4px;
      }

      svg {
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}
