:root {
  --primary: #4ecaae;
  --white: #ffffff;
  --background-main: #f4f7f9;
  --black: rgba(0, 0, 0, 0.7);
  --black-dark: rgba(0, 0, 0, 0.9);
  --black-dark-1: rgba(0, 0, 0, 0.25);
  --black-dark-2: rgba(0, 0, 0, 0.5);
  --black-dark-3: rgba(0, 0, 0, 0.7);
  --black-light: rgba(0, 0, 0, 0.12);

  --narvik: #effaf2;
  --salomie: #ffde96;
  --boulder: #747474;
  --black-premium: #000000;
  --viridian-green: #699576;
  --gallery: #eeeeee;
  --alto-color: #dfdfdf;
  --dusty-gray-color: #999999;
  --fern-color: #5cb85c;
  --silver-chalice-color: #adadad;
  --emperor-color: #555555;
  --tulip-tree-color: #eab134;
  --cinnabar-color: #ea3d36;
  --mantis-color: #8cc051;
  --hopbush-color: #d870ad;
  --medium-purple-color: #967bdc;
  --casablanca-color: #f6bb43;
}
