@mixin font($color, $fontSize, $fontWeight: 600) {
  color: $color;
  font-size: $fontSize;
  font-weight: $fontWeight;
}

// responsive with desktop first
@mixin responsive($canvas) {
  @if $canvas == xs {
    @media only screen and (max-width: 320px) {
      @content;
    }
  } @else if $canvas == sm {
    @media only screen and (max-width: 576px) {
      @content;
    }
  } @else if $canvas == md {
    @media only screen and (max-width: 768px) {
      @content;
    }
  } @else if $canvas == lg {
    @media only screen and (max-width: 992px) {
      @content;
    }
  } @else if $canvas == xl {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  } @else if $canvas == xxl {
    @media only screen and (max-width: 1600px) {
      @content;
    }
  }
}
